

.sign_login_forget_container{
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/loginImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}

.slf_container{
  padding: 50px 60px;
  background-color: #EEEEEE;
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  /* box-shadow: 0 0 35px 15px #6e6e6e3d; */
  box-shadow: -3px 29px 29px 11px #6e6e6e3d
}

.slf_container .top_titles{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #FFA101;
  line-height: 0;
  margin-bottom: 20px;
  font-weight: bolder;
}
.slf_container .top_titles h3{
  font-size: 19px;
  font-weight: 600;
}
.slf_container .top_titles h4{
  font-size: 19px;
  font-weight: 600;
  
}

.slf_container .signup_form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 20px;
}

.slf_container .slf_input input{
  padding: 14px;
  background-color: #FFF;
  border-radius: 50px;
  border: 1px solid #d1d3e2;;
  outline: none;
  color: #6e707e;
  width: 380px;
  transition: .2s ease;
  font-size: 13px;
  
}
.slf_container .slf_input input::placeholder{
  color: #c7c7c7;
}
.slf_container .slf_input input:focus{
  box-shadow: 0 0 0 3px #3875c759 ;
}

.policy_check{
  align-self: flex-start;
  margin-top: 10px;
}

.policy_check label{
  font-size: 11px;
  color: #6e707e;
}

.policy_check label .policies_link{
  color: #4E73DF ;
  cursor: pointer;
}

.policy_check label .policies_link:hover{
  border-bottom: 1px solid #4E73DF;
}

.slf_button{
  width: 100%;
  border: none;
  outline: none;
  background-color: #e88101;
  border: 1px solid #f6c23e;
  font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
    color: #FFF;
    font-weight: 600;
}

.allready_signed{
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
  cursor: pointer;
}

.allready_signed:hover{
  border-bottom: 1px solid ;
  
}




  
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your styles here */
  .slf_container{
    width: calc(100% - 20px);
  }
  .slf_container .slf_input input{
    width: 90vw;

  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
  .slf_container{
    width: calc(100% - 20px);
  }
  .slf_container .slf_input input{
    width: 90vw;

  }

}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
}
