.image{
  width: 500px;
}
  
.image img{
  width: 100%;
}


.home_page{
  padding: 20px;
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}

.home_section{
  background-color: #FFF;
}